// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

// Oliver start

.blur_back {
  background: url(../images/inter.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}

.main_grid {
  display: grid;
  grid-template-rows: 10% 1fr 1fr;
  height: 100vh;
}

#h_header {
  grid-row: 1;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.h_left {
  grid-row: 1;
  grid-column: 1;

  img {
    margin: 5px;
  }
}

nav {
  display: grid;
  grid-row: 1;
  grid-column: 2;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.dropdown {
  position: relative;
  grid-column: 2;
}

.fa-bars {
  color: black; }

.dropdown_btn {
  position: absolute;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  right: 12px;
  top: 7px; }

.dropdown_btn:hover {
  cursor: pointer; }

.h_content {
  display: none;
  position: absolute;
  z-index: 3;
  min-width: 80%;
  top: 50px;
  right: 0;
  background-color: white;
  outline: 5px auto #5d5d5d;
}

.h_menu1, .h_menu2, .h_menu3 {
  a {
    color: black;
    margin: 7px;
    text-decoration: none;
    font-size: 18px;
    font-family: "Classico URW";
    line-height: 30px;
    justify-content: center;
    display: flex;
  }
}

#h_main{
}

.h_poster {
  background: url("../images/inter_halfrez.jpg") center no-repeat;
}

.h_headtext, .h_resumetext {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: arial;
  font-weight: normal;
  padding: 10px;
}

.h_headtext {
  font-size: 19pt;
}

.h_resumetext {
  font-size: 13pt;
}

#h_footer {
  grid-row: 3;
}


// Oliver Slut


// Marcus Start


.g_boksen{
  height: 100%;
  background-color: white;
  opacity: 0.4;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
}

.g_actionflex{
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.g_action img{
  border-radius: 50%;
  max-height: 200px;
  width: 50%;
}

.g_actions{
  min-width:50%;
}

.g_komedieflex{
  display: flex;
  flex-direction: row;
  margin: 15%;
  display: none;
}

.g_sorter{
  width: 200px;
}

#sorterelements{
  text-align: center;
  margin-top: 5%;
}


// Marcus Slut


// Sofie Start

.bblogindlaeg1 {
  width: 100%;
  display: none;
}

.boverskrift {
  text-align: center;
  padding-top: 5%;
  font-family: 'Roboto', sans-serif;
}

.boverskrift1 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Merriweather', serif;
}

.btopimage {
  height: 300px;
  width: 100%;
}

.bteaser1 {
  text-align: center;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  font-family: Arial;
}

.bbutton1 {
  margin-top: 5%;
  margin-left: 25%;
  padding: 1% 1% 1% 1%;
  background-color: black; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: Arial;
}

.bsnowwhite {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Merriweather', serif;
}

.bsnowwhiteimage {
  height: 300px;
  width: 100%;
}

.bsnowwhitetext {
  padding: 5% 5% 5% 0%;
  font-family: Arial;
}

.btoystory {
  @extend .bsnowwhite;
}

.btoystoryimage {
  height: 450px;
  width: 100%;
}

.btoystorytext {
  @extend .bsnowwhitetext;
}

.bblairwitch {
  @extend .bsnowwhite;
}

.bblairwitchimage {
  @extend .btoystoryimage;
}

.bblairwitchtext {
  @extend .bsnowwhitetext;
}

.bsoldier {
  @extend .bsnowwhite;
}

.bsoldierimage {
  @extend .bsnowwhiteimage;
}

.bsoldiertext {
  @extend .bsnowwhitetext;
}

.bjulia {
  @extend .bsnowwhite;
}

.bjuliaimage {
  @extend .bsnowwhiteimage;
}

.bjuliatext {
  @extend .bsnowwhitetext;
}

.bbreakfastclub {
  @extend .bsnowwhite;
}

.bbreakfastclubimage {
  @extend .bsnowwhiteimage;
}

.bbreakfastclubtext {
  @extend .bsnowwhitetext;
}

.bwestside {
  @extend .bsnowwhite;
}

.bwestsideimage {
  @extend .bsnowwhiteimage;
}

.bwestsidetext {
  @extend .bsnowwhitetext;
}

.bpulpfiction {
  @extend .bsnowwhite;
}

.bpulpfictionimage {
  @extend .bsnowwhiteimage;
}

.bpulpfictiontext {
  @extend .bsnowwhitetext;
}

.bavatar {
  @extend .bsnowwhite;
}

.bavatarimage {
  @extend .btoystoryimage;
}

.bavatartext {
  @extend .bsnowwhitetext;
}

.bstarwars  {
  @extend .bsnowwhite;
}

.bstarwarsimage {
  @extend .bsnowwhiteimage;
}

.bstarwarstext {
  @extend .bsnowwhitetext;
}

.bbutton2 {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 45%;
    padding: 1% 1% 1% 1%;
    background-color: black; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: Arial;
}

.boverskrift2 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Merriweather', serif;
}

.bimage2 {
  height: 300px;
  width: 100%;
}

.bteaser2 {
  text-align: center;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  font-family: Arial;
}

.bbutton3 {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 27%;
  padding: 1% 1% 1% 1%;
  background-color: black; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: Arial;
}

.bblogindlaeg2 {
  width: 100%;
  display: none;
  font-family: Arial;
  margin-bottom: 5%;
}
// Sofie Slut


// Adem Start
.fritekst{
  color: red;
}

.some{
  color: red;

}

.tyndbox{
  background-color: white;
  width: 100%;
  height: 10px;
  outline: 2px auto black;
}



// Adem Slut


@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil

  // Oliver start



  // Oliver Slut


  // Marcus Start



  // Marcus Slut


  // Sofie Start



  // Sofie Slut


  // Adem Start



  // Adem Slut

}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående


  // Oliver start



  // Oliver Slut


  // Marcus Start



  // Marcus Slut


  // Sofie Start



  // Sofie Slut


  // Adem Start



  // Adem Slut
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende


  // Oliver start



  // Oliver Slut


  // Marcus Start
  .g_boksen{
    height: 100%;
    background-color: white;
    opacity: 0.4;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
  }


  // Marcus Slut


  // Sofie Start



  // Sofie Slut


  // Adem Start




  // Adem Slut
}

@media print {
  // Alt der gælder for print specifikt
}