* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

li {
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.blur_back {
  background: url(../images/inter.jpg) no-repeat center;
  background-size: cover;
  height: 100vh; }

.main_grid {
  display: grid;
  grid-template-rows: 10% 1fr 1fr;
  height: 100vh; }

#h_header {
  grid-row: 1;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr); }

.h_left {
  grid-row: 1;
  grid-column: 1; }
  .h_left img {
    margin: 5px; }

nav {
  display: grid;
  grid-row: 1;
  grid-column: 2;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr; }

.dropdown {
  position: relative;
  grid-column: 2; }

.fa-bars {
  color: black; }

.dropdown_btn {
  position: absolute;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  right: 12px;
  top: 7px; }

.dropdown_btn:hover {
  cursor: pointer; }

.h_content {
  display: none;
  position: absolute;
  z-index: 3;
  min-width: 80%;
  top: 50px;
  right: 0;
  background-color: white;
  outline: 5px auto #5d5d5d; }

.h_menu1 a, .h_menu2 a, .h_menu3 a {
  color: black;
  margin: 7px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Classico URW";
  line-height: 30px;
  justify-content: center;
  display: flex; }

.h_poster {
  background: url("../images/inter_halfrez.jpg") center no-repeat; }

.h_headtext, .h_resumetext {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: arial;
  font-weight: normal;
  padding: 10px; }

.h_headtext {
  font-size: 19pt; }

.h_resumetext {
  font-size: 13pt; }

#h_footer {
  grid-row: 3; }


.h_blackbox {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85); }

.h_arrowleft, .h_arrowright {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  font-family: inherit; }
  .h_arrowleft i, .h_arrowright i {
    color: white; }

.g_boksen {
  height: 100%;
  background-color: white;
  opacity: 0.4;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%; }

.g_actionflex {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%; }

.g_action img {
  border-radius: 50%;
  max-height: 200px;
  width: 50%; }

.g_actions {
  min-width: 50%; }

.g_komedieflex {
  display: flex;
  flex-direction: row;
  margin: 15%;
  display: none; }

.g_sorter {
  width: 200px; }

#sorterelements {
  text-align: center;
  margin-top: 5%; }

.bblogindlaeg1 {
  width: 100%;
  display: none; }

.boverskrift {
  text-align: center;
  padding-top: 5%;
  font-family: 'Roboto', sans-serif; }

.boverskrift1 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Merriweather', serif; }

.btopimage {
  height: 300px;
  width: 100%; }

.bteaser1 {
  text-align: center;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  font-family: Arial; }

.bbutton1 {
  margin-top: 5%;
  margin-left: 25%;
  padding: 1% 1% 1% 1%;
  background-color: black;
  /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: Arial; }

.bsnowwhite, .btoystory, .bblairwitch, .bsoldier, .bjulia, .bbreakfastclub, .bwestside, .bpulpfiction, .bavatar, .bstarwars {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Merriweather', serif; }

.bsnowwhiteimage, .bsoldierimage, .bjuliaimage, .bbreakfastclubimage, .bwestsideimage, .bpulpfictionimage, .bstarwarsimage {
  height: 300px;
  width: 100%; }

.bsnowwhitetext, .btoystorytext, .bblairwitchtext, .bsoldiertext, .bjuliatext, .bbreakfastclubtext, .bwestsidetext, .bpulpfictiontext, .bavatartext, .bstarwarstext {
  padding: 5% 5% 5% 0%;
  font-family: Arial; }

.btoystoryimage, .bblairwitchimage, .bavatarimage {
  height: 450px;
  width: 100%; }

.bbutton2 {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 45%;
  padding: 1% 1% 1% 1%;
  background-color: black;
  /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: Arial; }

.boverskrift2 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Merriweather', serif; }

.bimage2 {
  height: 300px;
  width: 100%; }

.bteaser2 {
  text-align: center;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  font-family: Arial; }

.bbutton3 {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 27%;
  padding: 1% 1% 1% 1%;
  background-color: black;
  /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: Arial; }

.bblogindlaeg2 {
  width: 100%;
  display: none;
  font-family: Arial;
  margin-bottom: 5%; }

.s_boksen {
  height: 100%;
  background-color: white;
  opacity: 0.4;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%; }

.s_skuespillerflex {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%; }

.s_skue1 img {
  border-radius: 50%;
  max-height: 200px;
  width: 50%; }

.s_skuetekst1 {
  min-width: 50%; }

@media screen and (min-width: 768px) {
  .boverskrift {
    margin-right: 3%; }

  .boverskrift1 {
    margin-right: 3%; }

  .btopimage {
    width: 35%;
    height: 400px;
    margin-left: 31.5%;
    margin-top: -3%; }

  .bteaser1 {
    margin-top: -3%;
    margin-right: 20%;
    margin-left: 18%; }

  .bbutton1 {
    margin-left: 43%;
    margin-top: 2%; }

  .bsnowwhite, .btoystory, .bblairwitch, .bsoldier, .bjulia, .bbreakfastclub, .bwestside, .bpulpfiction, .bavatar, .bstarwars {
    margin-right: 2%; }

  .bsnowwhiteimage, .bsoldierimage, .bjuliaimage, .bbreakfastclubimage, .bwestsideimage, .bpulpfictionimage, .bstarwarsimage {
    width: 35%;
    height: 350px;
    margin-left: 31.5%;
    margin-top: -3%; }

  .bsnowwhitetext, .btoystorytext, .bblairwitchtext, .bsoldiertext, .bjuliatext, .bbreakfastclubtext, .bwestsidetext, .bpulpfictiontext, .bavatartext, .bstarwarstext {
    margin-left: 31.5%;
    margin-right: 28.5%;
    margin-top: -3%; }

  .btoystory {
    margin-top: -5%;
    margin-right: 3%; }

  .btoystoryimage, .bblairwitchimage, .bavatarimage {
    width: 20%;
    height: 500px;
    margin-left: 38%;
    margin-top: -3%; }

  .bblairwitch {
    margin-top: -4%; }

  .bsoldier {
    margin-top: -4%; }

  .bjulia {
    margin-top: -4%; }

  .bbreakfastclub {
    margin-top: -4%; }

  .bwestside {
    margin-top: -4%; }

  .bpulpfiction {
    margin-top: -4%; }

  .bavatar {
    margin-top: -4%; }

  .bstarwars {
    margin-top: -4%; }

  .bimage2 {
    width: 35%;
    height: 400px;
    margin-left: 31.5%;
    margin-top: -3%; }

  .bteaser2 {
    margin-top: -3%;
    margin-right: 20%;
    margin-left: 18%; }

  .bbutton3 {
    margin-left: 43%;
    margin-top: 2%; }

  .bblogindlaeg2 {
    margin-left: 35%; } }
@media screen and (min-width: 1200px) {
  .g_boksen {
    height: 100%;
    background-color: white;
    opacity: 0.4;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%; }

  .s_boksen {
    height: 100%;
    background-color: white;
    opacity: 0.4;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%; } }

/*# sourceMappingURL=api_opgave.css.map */
